@model RH.Model.Pessoa

@{
    ViewBag.Title = "Cadastrar Funcionário";

    if (ViewBag.Cargos == null)
    {
        ViewBag.Cargos = "";
    }
}



@using (Html.BeginForm("CadastrarFuncionario", "Pessoa", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-row">
        <div class="container my-4">
            <div class="card">
                <div class="card-header">
                    <h1>Cadastrar Funcionário</h1>
                </div>
                <div class="card-body row">
                    <div align="center" class="col-md-12 form-group">
                        @Html.ValidationMessage("Limite", "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-12 form-group">

                        <input type="file" name="Imagem" id="Imagem" data-preview-file-type="text" data-msg-placeholder="Selecione uma foto do funcionário" />
                        @Html.ValidationMessage("Imagem", "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-12" })

                        @Html.EditorFor(model => model.Pes_Nome, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Digite o Nome do Funcionario" } })
                        @Html.ValidationMessageFor(model => model.Pes_Nome, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("CPF", htmlAttributes: new { @class = "control-label col-md-12" })

                        @Html.EditorFor(model => model.Pes_CPF, new { htmlAttributes = new { @class = "form-control cpf", @type = "text", @placeholder = "Digite o CPF do Funcionario" } })
                        @Html.ValidationMessageFor(model => model.Pes_CPF, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Carteira de Trabalho", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="">
                            @Html.EditorFor(model => model.Pes_CTrabalho, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Digite o Numero da Carteira de Trabalho do Funcionario" } })
                            @Html.ValidationMessageFor(model => model.Pes_CTrabalho, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Salário", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="">
                            <input class="form-control preco" type="text" placeholder="Digite o salário do funcionário" name="Salario"/>
                            @Html.ValidationMessageFor(model => model.Pes_Salario, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Cidade", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="">
                            @Html.EditorFor(model => model.Pes_Cidade, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Digite a Cidade do Funcionario" } })
                            @Html.ValidationMessageFor(model => model.Pes_Cidade, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Endereco", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="">
                            @Html.EditorFor(model => model.Pes_Endereco, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Digite o Endereço do Funcionario" } })
                            @Html.ValidationMessageFor(model => model.Pes_Endereco, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group col-md-6">
                        @Html.Label("Cargo", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="">
                            @Html.DropDownList("Pes_Cargo_Car_ID", null, "Selecione o cargo do funcionário", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Pes_Cargo_Car_ID, "", new { @class = "text-danger" })
                            @Html.ValidationMessage("CargoChefe", "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="from-group col-md-12">
                        <button type="submit" class="btn btn-outline-secondary"><span class="fa fa-plus"></span> Cadastrar</button>
                    </div>
                </div>
            </div>

        </div>



    </div>
}

<div class="back">
    <a href="~/Pessoa/MeusFuncionarios"><i class="fas fa-arrow-left"></i> Voltar</a>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="ModalCargo">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Demitir funcionário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-center">@ViewBag.Cargos</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn bg-success text-white" data-dismiss="modal" id="BtnNao">Ok</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.mask.js"></script>
    <script>

    $(document).ready(function () {
        $('.preco').mask('#.##0,00', { reverse: true });
        $("#Imagem").fileinput({ language: "pt-BR", 'showUpload': false, 'previewFileType': 'any' });
        $('.cpf').mask('000.000.000-00', { reverse: true });
        $("#ModalCargo").on('hide.bs.modal', function () {
            $(location).attr("href", "@Url.Action("CadastrarCargo","Cargo")");
        });


    });
    </script>

    @if (ViewBag.Cargos != "")
    {
        <script>
            $("#ModalCargo").modal('show');
        </script>
    }
}

