@model IEnumerable<RH.Model.Pessoa>

@{
    ViewBag.Title = "MeusFuncionarios";
}

<style>

    img {
        width: 80px;
        height: 80px;
    }
</style>

<br />
<h2 class="text-center titulo-Lista">Meus Funcionarios</h2>
<br />

<div class="container">
    <div class="row">
        <div class="card-body">
            @foreach (var x in Model)
            {
                <div class="col-md-4">
                    <img src="@Url.Action("GetImagemFuncionario",new { id=x.Pes_ID})"/>
                </div>

                <div class="col-md-5">
                    <h4>Nome: @x.Pes_Nome</h4>
                    @foreach(var y in ViewBag.Cargos)
                    {
                        if(y.Car_ID==x.Pes_Cargo_Car_ID)
                        {
                            <h4>@y.Car_Nome</h4>
                        }
                    }
                    <h4>@x.Pes_DataAdmissao</h4>
                    <h4>@x.Pes_Salario</h4>
                    <h4>@x.Pes_CTrabalho</h4>
                    <h4>@x.Pes_CPF</h4>
                    <h4>@x.Pes_Cidade</h4>
                    <h4>@x.Pes_Endereco</h4>
                </div>

                <div class="col-md-3">
                    <button class="btn btn-warning">Alterar</button>
                    <button class="btn btn-danger">Demitir</button>
                </div>
            }
        </div>
        
    </div>
</div>
