@model PagedList.IPagedList<RH.Model.Pessoa>

@{
    ViewBag.Title = "MeusFuncionarios";

}

@Styles.Render("~/Content/Pages/css")

@using PagedList.Mvc

<style>
</style>


<br />
<a class="btn btn-success custom" href="@Url.Action("CadastrarFuncionario","Pessoa")"><i class="fas fa-user-plus"></i> Cadastrar Funcionário</a>
<br />
<br />

@using (Html.BeginForm("MeusFuncionarios", "Pessoa", FormMethod.Get))
{
    <div class="input-group col-md-4 float-right">

        @if (!string.IsNullOrEmpty(ViewBag.Pesquisado))
        {
            <input type="text" class="form-control" name="Pesquisa" value="@ViewBag.Pesquisado" placeholder="Pesquisar funcionários">
        }

        else
        {
            <input type="text" class="form-control" name="Pesquisa" placeholder="Pesquisar funcionários">
        }

        <div class="input-group-append">
            <button class="btn btn-success custom" type="submit"><span class="fa fa-search"></span></button>
        </div>
    </div>
    <br />
    <br />
}


<h2 class="text-center titulo-Lista">Funcionários Cadastrados</h2>
<hr />
@if (ViewBag.Pesquisado != null && Model.Count() == 0)
{
    <div class="alert alert-primary">
        <div class="alert-body">
            <h4>Não foi encontrado nenhum resultado referente a pesquisa '@ViewBag.Pesquisado', verifique o que foi digitado e tente novamente.</h4>
        </div>
    </div>
}

else
{
    if (Model.Count() > 0)
    {
        <div class="container">
            <div class="row justify-content-center">
                @foreach (var x in Model)
                {
                    <div class="card" style="width: 100rem;" id="card-@x.Pes_ID">
                        <div class="card-header">
                            <h4>Nome:<span class='textUser'> @x.Pes_Nome</span></h4>
                        </div>

                        <div class="card-body row">
                            <div class="col-md-4">
                                <img src="@Url.Action("GetImagemFuncionario", new { id = x.Pes_ID })" class="imagem-funcionario" />
                            </div>

                            <div class="col-md-8">
                                @foreach (var y in ViewBag.Cargos)
                                {
                                    if (y.Car_ID == x.Pes_Cargo_Car_ID)
                                    {
                                        <h4>Cargo de ocupação:<span class='textUser'> @y.Car_Nome</span></h4>
                                    }
                                }

                                <h4>Data de Admissão: <span class='textUser'> @x.Pes_DataCadastro </span></h4>
                                <h4>Salário:<span class='textUser'> @x.Pes_Salario R$</span></h4>
                                <h4>Carteira de Trabalho: <span class='textUser'>@x.Pes_CTrabalho</span></h4>
                                <h4>CPF:<span class='textUser'> @x.Pes_CPF</span></h4>
                                <h4>Cidade:<span class='textUser'> @x.Pes_Cidade</span></h4>
                                <h4>Endereço:<span class='textUser'> @x.Pes_Endereco</span></h4>
                            </div>

                        </div>
                        <div class="card-footer">
                            <a class="btn btn-warning custom" href="@Url.Action("AlterarFuncionario", "Pessoa", new { id = x.Pes_ID })"><i class="fas fa-user-edit"></i> Alterar</a>
                            <button class="btn btn-danger custom demitir" data-id="@x.Pes_ID" title="Demitir"><i class="fas fa-user-times"></i> Demitir</button>
                            <a class="btn btn-warning custom" href="@Url.Action("Index", "Dependente", new { IDFuncionario = x.Pes_ID })"><i class="fa fa-users"></i> Dependentes</a>
                            <a class="btn btn-warning custom" href="@Url.Action("Index", "DadosBancarios", new { IDFuncionario = x.Pes_ID })"><i class="fa fa-money-check-alt"></i> Dados Bancários</a>
                            <!-- Button modal Beneficios -->
                            <button type="button" class="btn btn-warning custom BtnAbrirModalBeneficios" data-id="@x.Pes_ID"><i class="fa fa-thumbs-up"></i>  Benefícios</button>
                        </div>
                    </div>


                    <br />
                    <br />


                    <br />
                    <br />
                }



                <br />
                <br />


            </div>
        </div>

        <nav aria-label="Page navigation example " class="paginacao">
            <ul class="pagination">
                <li class="page-item">
                    @Html.PagedListPager(Model, page => Url.Action("MeusFuncionarios", new { pagina = page }))
                </li>
            </ul>
        </nav>
    }

    else
    {
        <div class="alert alert-primary">
            <div class="alert-body">
                <h4>Sua empresa ainda não possui nenhum funcionário cadastrado...</h4>
            </div>
        </div>
    }
}



<hr />


<!-- Modal Beneficios -->
<div class="modal fade beneficios-func" id="beneficios-func" tabindex="-1" role="dialog" aria-labelledby="beneficios-func" aria-hidden="true">
    <div class="modal-dialog modal-beneficios" role="document">
        <div class="modal-content model-beneficios">
            <div class="modal-header">
                <h5 class="modal-title" id="beneficios-funcTitle">Benefícios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (ViewBag.Beneficios.Count > 0)
                {

                    <table class="table-hover table-bordered col-md-12 text-center" id="TabelaBeneficiosFuncionario">
                        <tr style="background-color: rgb(148,72,72);" class="text-white">
                            <td>Benefício</td>
                            <td>Ações</td>
                        </tr>
                    </table>

                }
                else
                {
                    <div class="col-12">
                        <h5 class="text-center">Essa Empresa Ainda Não Possui Benefícios</h5>
                    </div>
                    <div class="col-12 ">
                        <h6 class="text-center">Adicione Benefícios</h6>
                        <div class=" col-12 d-flex justify-content-center">
                            <div class=" col-12 d-flex justify-content-center">
                                <a class="btn btn-warning custom text-center " href="@Url.Action("Index", "Beneficio", new { IDFuncionario = ViewBag.IDE })"><i class="fa fa-thumbs-up"></i> Benefícios</a>

                            </div>


                        </div>

                    </div>
                }
            </div>

        </div>
    </div>
</div>


<!-- Modal Demitir-->
<div class="modal fade " tabindex="-1" role="dialog" id="ModalDemissao">
    <div class="modal-dialog modal-demitir" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title">Demitir funcionário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="MensagemInicial">
                    <h5 id='texto' class='text-center'>Tem certeza que deseja demitir o funcionário?</h5>
                    <p class='text-center'>Por favor marque o motivo da demissão do funcionário.</p>
                    <div class='text-center'>

                        <label class='mr-4'><input type='radio' name='Motivo' value='Pediu demissao' id='pediudemissao' checked /> Pediu demissão</label>
                        <label class='mr-4'><input type='radio' name='Motivo' value='Foi demitido' id='demitido' /> Foi demitido</label>

                    </div>
                </div>

                <div id="MensagemRetorno" style="display:none;">

                </div>

                <div id="Carregando" align="center" style="display:none;">
                    <img src="~/Imagem/833.gif" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning custom BtnModal" id="DemitirFuncionario">Sim</button>
                <button type="button" class="btn btn-danger custom demitir BtnModal" data-dismiss="modal" id="BtnNao">Não</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        var clicksBeneficios = 0; var clicksDemissao = 0;



        document.querySelector("#ModalDemissao").addEventListener('click', () => {
            console.log(clicksDemissao);
            clicksDemissao++;
        });


        document.querySelector('.beneficios-func').addEventListener('click', () => {
            clicksBeneficios++;
            console.log(clicksBeneficios + "click funcao");
        });

        window.addEventListener('click', function (e) {
            var mouse = {
                page: {
                    x: e.pageX,
                    y: e.pageY
                },
                client: {
                    x: e.clientX,
                    y: e.clientY
                }
            }
            console.log(mouse.page.y);




                ////beneficios
            if (clicksBeneficios <= 0) {

                document.querySelector(".model-beneficios").style.marginTop = (mouse.page.y - 400) + "px";
                    console.log("entrou")

            }
            else {

                if (document.querySelector("#beneficios-func").style.display == "none") {
                    document.querySelector(".modal-beneficios").style.marginTop = (mouse.page.y - 400) + "px";
                    this.console.log("oi")

                } else {

                }
            }







                //demissao

                if (clicksDemissao == 0) {
                    document.querySelector(".modal-demitir").style.marginTop = (mouse.page.y - 400) + "px";
                    console.log(clicksDemissao + "um click");


                } else {
                    if (document.querySelector("#ModalDemissao").style.display == "none") {
                        document.querySelector(".modal-demitir").style.marginTop = (mouse.page.y - 400) + "px";

                    } else {

                    }
                }







            });


        $(document).ready(function () {
            var IDFuncionario;


            var motivo;



            $(".BtnAbrirModalBeneficios").click(function () {

                IDFuncionario = $(this).attr("data-id");

                $("#TabelaBeneficiosFuncionario").html(" <tr style='background-color: rgb(148, 72, 72); ' class='text-white'>" +
                    "<td>Benefício</td >" +
                    "<td>Ações</td>" +
                    "</tr >");

                $.ajax({
                    method: "post",
                    dataType: "json",
                    url: "@Url.Action("PopularBeneficiosFuncionario","Pessoa")",
                    data: { id: IDFuncionario },
                    success: function (data) {

                        $(data).each(function (i) {

                            if (data[i].Status == "Não possui") {
                                $("#TabelaBeneficiosFuncionario").append(

                                    "<tr>" +
                                        "<td>" + data[i].Nome + "</td>" +
                                        "<td>" +
                                    "<div>" +
                                    "<button class='btn btn-success mr-1' onclick='AdicionarBeneficio(" + data[i].ID + "," + IDFuncionario + ")' id='" + data[i].ID + "-" + IDFuncionario + "'><span class='fa fa-plus'></span></button>" +
                                    "<button class='btn btn-primary mr-1' data-toggle='tooltip' data-placement='right' title='Descrição do Benefício:\n"+data[i].Descricao+"\nCusto do Benefício:\n"+data[i].Custo+" R$'><span class='fa fa-info-circle'></span></button>"+
                                            "</div>" +
                                        "</td >" +
                                    "</tr>"

                                );
                            }

                            else {
                                $("#TabelaBeneficiosFuncionario").append(

                                    "<tr>" +
                                        "<td>" + data[i].Nome + "</td>" +
                                        "<td>" +
                                            "<div>" +
                                                "<button class='btn btn-danger mr-1' onclick='RemoverBeneficio(" + data[i].ID + "," + IDFuncionario + ")' id='" + data[i].ID + "-" + IDFuncionario + "'><span class='fa fa-minus'></span></button>" +
                                    "<button class='btn btn-primary mr-1' data-toggle='tooltip' data-placement='right' title='Descrição do Benefício:\n" + data[i].Descricao + "\nCusto do Benefício:\n" + data[i].Custo + " R$'><span class='fa fa-info-circle'></span></button>" +
                                            "</div>" +
                                        "</td >" +
                                    "</tr>"

                                );
                            }


                        });

                    },
                    Error: function () {
                        $("#TabelaBeneficiosFuncionario").html("<p>Não foi possível carregar os dados desse funcionário, por favor tente novamente...</p>")
                    }
                });

                $("#beneficios-func").modal('show');
        });


        $(".motivodemissao").prop("checked", true);


        $(".demitir").click(function () {
            IDFuncionario = $(this).attr("data-id");
            var altura = $(document).height() - (300 * IDFuncionario) + 'px';

            $("#texto").css("display", "block");
            $("#Carregando").css("display", "none");
            $("#ModalDemissao").modal('show');
            $("BtnModal").removeAttr("disabled");
            $("#MensagemInicial").css("display", "block");
            $("#MensagemRetorno").css("display", "none");
            $(".BtnModal").removeAttr("disabled");
        });

        $("#DemitirFuncionario").click(function () {
            if ($("#pediudemissao").prop("checked")) {
                motivo = "Pediu demissão";
            }

            else if ($("#demitido").prop("checked")) {
                motivo = "Demitido";
            }

            $(".BtnModal").attr("disabled", "disabled");

            var url = "@Url.Action("Demitir","Pessoa")";

            $("#MensagemInicial").css("display", "none");
            $("#Carregando").css("display", "block");

            $.post(url, { id: IDFuncionario, Motivo: motivo }, RespostaServidor);
        });

        function RespostaServidor(retorno) {
            $("#MensagemRetorno").css("display", "block");
            $("#MensagemRetorno").html(retorno);
            $("#Carregando").css("display", "none");
            $("#card-" + IDFuncionario + "").slideUp("slow");
        }
    });
    </script>

    <script>

        function AdicionarBeneficio(IDBeneficio, ID) {

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $("#" + IDBeneficio + "-" + ID).attr('disabled', 'disabled');

            var url = "@Url.Action("AdicionarBeneficio","Pessoa")";

            $.post(url, { beneficio: IDBeneficio, funcionario: ID });


            $("#" + IDBeneficio + "-" + ID).removeClass().addClass('btn btn-danger mr-1').html("<span class='fa fa-minus'></span>").attr('onclick', 'RemoverBeneficio(' + IDBeneficio + ',' + ID + ')').removeAttr('disabled');
        }

        function RemoverBeneficio(IDBeneficio,ID) {

              $("#" + IDBeneficio + "-" + ID).attr('disabled', 'disabled');

            var url = "@Url.Action("RemoverBeneficio","Pessoa")";

            $.post(url, { beneficio: IDBeneficio, funcionario: ID });


            $("#" + IDBeneficio + "-" + ID).removeClass().addClass('btn btn-success mr-1').html("<span class='fa fa-plus'></span>").attr('onclick', 'AdicionarBeneficio(' + IDBeneficio + ',' + ID + ')').removeAttr('disabled');

        }

    </script>

}
