@model IEnumerable<RH.Model.Pessoa>

@{
    /**/

    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Pages/css")

<style>
    #mask {
        position: absolute;
        z-index: 9000;
        background-color: #000;
        display: none;
        top: 0px;
        left: 0px;
    }

    .window {
        position: fixed;
        width: 440px;
        height: 200px;
        display: none;
        z-index: 9090;
        padding: 20px;
        background-color: #fff;
    }

    #dialog {
        width: 375px;
        height: 203px;
        border: 5px solid #d32d2d;
    }

    .close {
        display: block;
        text-align: right;
    }

</style>



<br />
<br />
<div class="card">
    <div class="card-header">
        <h1 class="text-center">Avaliação de Funcionários</h1>
        <br />
        <div class="form-group">
            @Html.Label("Chefes de Setores", "Chefes de Setor", htmlAttributes: new { @class = "control-label" })
            @Html.DropDownList("Pes_Nome", null, "Por favor selecione um chefe de setor", htmlAttributes: new { @class = "form-control", @id = "Chefes" })
        </div>
    </div>
    <div class="card-body" id="Funcionarios">

    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ModalAvaliar">
    <div class="modal-dialog modal-aval" role="document">
        <div class="modal-content modal-av">
            <div class="modal-header">
                <h5 class="modal-title">Avaliação de funcionário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="FormAvaliacao">
                    <h4>Por favor digite a avaliação do funcionário</h4>
                    @Html.TextArea("Motivo", null, new { rows = 10, cols = 30, id = "TextBox" })
                </div>

                <div id="Mensagem">

                </div>
                
                <br />
                <div align="center">
                    <br />
                    <img id="Carregando" src="~/Imagem/805.gif" style="width:60px; height:60px; display:none;" />
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar Avaliação</button>
                <button type="button" class="btn btn-success" disabled="disabled" id="BtnAvaliar">Avaliar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script>

     






        var IdFuncionario;

        $(document).ready(function () {

            $("#Chefes").change(function () {
                $("#Funcionarios").html("");

                var id = $(this).val();

                 $.ajax({
                    method: "post",
                    dataType: "json",
                    url: "@Url.Action("MeusFuncionarios","Avaliacao")",
                    data: { IDChefe: id },
                     success: function (data) {

                         if (data == "") {
                             $("#Funcionarios").append(
                                 "<div class='alert alert-primary' role='alert'>" +
                                    "<div class='alert-body'>"+
                                        "<h4>Não foi encontrado nenhum funcionário que responda a este Chefe de Setor</h4>" +
                                    "</div>"+
                                 "</div>"
                             );
                         }

                         else {
                             $(data).each(function (i) {

                                $("#Funcionarios").append(

                                    "<div class='container my-4'>" +
                                    "<div class='card'>" +
                                    "<div class='card-header'> <h1>" + data[i].Nome + "</h1> </div>" +
                                    "<div class='card-body row'>" +
                                    "<div class='col-md-4'>" +
                                    "<img src='@Url.Action("GetImagemUsuario","Avaliacao")?id=" + data[i].ID + "' class='imagem-funcionario'/>" +
                                    "</div>" +
                                    "<div class='col-md-8'>" +
                                    "<h4>Cargo de Ocupação: <span class='textUser'> " + data[i].CargoOcupacao + "</span></h4>" +
                                    "<h4>Data de Admissão: <span class='textUser'> " + data[i].DataAdmissao + "</span></h4>" +
                                    "<h4>Salário:<span class='textUser'> " + data[i].Salario + " R$</span></h4>" +
                                    "<h4>Carteira de Trabalho: <span class='textUser'> " + data[i].CarteiraTrabalho + "</span></h4>" +
                                    "<h4>CPF:<span class='textUser'> " + data[i].CPF + "</span></h4>" +
                                    "<h4>Cidade:<span class='textUser'> " + data[i].Cidade + "</span></h4>" +
                                    "<h4>Endereço:<span class='textUser'> " + data[i].Endereco + "</span></h4>" +
                                    "</div>" +
                                    "</div>" +
                                    "<div class='card-footer'>" +
                                    "<button onclick='Abrir(" + data[i].ID + ")' class='btn btn-danger custom avaliar'><span class='fa fa-star'></span> Avaliar</button>" +
                                    "</div>" +
                                    "</div>" +
                                    "</div>"

                                );
                        });
                         }

                        
                    },
                    Error: function () {
                        $("#Funcionarios").html("<p>Não foi possível carregar os dados desse funcionário, por favor tente novamente...</p>")
                    }
                });
            });



            $("#TextBox").keyup(function () {
                var texto = $(this).val();

                if (texto != "") {
                    $("#BtnAvaliar").removeAttr("disabled");
                }

                else {
                    $("#BtnAvaliar").attr("disabled", "disabled");
                }
            });

            $("#BtnAvaliar").click(function () {
                var avaliacao = $("#TextBox").val();
               
                var url = "@Url.Action("AvaliacaoFuncionario","Avaliacao")";
                $("#TextBox").attr("disabled", "disabed");
                $.post(url, { id: IdFuncionario, Avaliacao: avaliacao }, RespostaAvaliacao);
                $(this).attr("disabled", "disabled");
                $("#Carregando").css("display", "inline");
            });

            function RespostaAvaliacao(resposta) {
                $("#Carregando").css("display", "none");
                $("#FormAvaliacao").css("display", "none");
                $("#Mensagem").css("display", "block");
                $("#Mensagem").html("<h4>" + resposta + "</h4>");
                $("BtnAvaliar").attr("disabled", "disabled");
            }

        });
        var clicks = 0;
        function Abrir(id) {
            IdFuncionario = id;
            $("#FormAvaliacao").css("display", "block");
            $("#Mensagem").css("display", "none");
            $("#ModalAvaliar").modal('show');
            $("#TextBox").removeAttr("disabled");
            $("#TextBox").val("");
            console.log()

                clicks++;
            console.log(clicks + "click funcao");

         
        }


        modal();

        function modal() {
            window.addEventListener('click', function (e) {
                var mouse = {
                    page: {
                        x: e.pageX,
                        y: e.pageY
                    },
                    client: {
                        x: e.clientX,
                        y: e.clientY
                    }
                }
            
            console.log(mouse.page.y);
          


                if (clicks == 1) {

                    document.querySelector(".modal-aval").style.marginTop = (mouse.page.y -410) + "px";
                   
                }
                else {
                    if (document.querySelector("#ModalAvaliar").style.display == "none") {
                        document.querySelector(".modal-aval").style.marginTop = (mouse.page.y - 410) + "px";
                      
                    }

                    
                }

            });




        }


    </script>
}
