@model IEnumerable<RH.Model.Avaliacao>

@{
    ViewBag.Title = "Avaliação dos Funcionários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Pages/css")

<br />
<a class="btn btn-success custom" href="@Url.Action("Avaliacao")"><i class="fas fa-user-plus"></i> Cadastrar Avaliação</a>
<br />
<br />

@using (Html.BeginForm("Index", "Avaliacao", FormMethod.Post))
{
    <div class="input-group col-md-4 float-right">

        <input type="text" class="form-control" name="Pesquisado" value="@ViewBag.Pesquisado" placeholder="Pesquisar funcionários">

        <div class="input-group-append">
            <button class="btn btn-success custom" type="submit"><span class="fa fa-search"></span></button>
        </div>
    </div>
    <br />
    <br />
}

<h2 class="text-center">Avaliações da Empresa @ViewBag.NomeEmpresa</h2>
<hr />
@if (ViewBag.Pesquisado != null && Model.Count() == 0)
{
    <div class="alert alert-primary">
        <div class="alert-body">
            <h4>Não foi encontrado nenhum resultado referente a pesquisa '@ViewBag.Pesquisado', verifique o que foi digitado e tente novamente.</h4>
        </div>
    </div>
}

else
{
    if (Model.Count() > 0)
    {
        foreach (var x in Model)
        {
            <div class="container my-4" id="Avaliacao-@x.Ava_ID">
                <div class="card">
                    <div class="card-header">
                        <h4><strong>Funcionários: </strong>@x.Pessoa.Pes_Nome</h4>
                    </div>
                    <div class="card-body row">
                        <div class="col-md-4">
                            <img src="@Url.Action("GetImagemUsuario", new {id= x.Ava_Pessoa_Pes_ID })" class="imagem-funcionario" />
                        </div>

                        <div class="col-md-8">
                            <h4>Data Avaliacao: @x.Ava_DataCadastro</h4>
                            <h4 id="AvaliacaoFuncionario-@x.Ava_ID">Avaliação: @x.Ava_Avaliacao</h4>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-warning custom Alterar" id="Avaliacao-@x.Ava_ID" data-avaliacao='@x.Ava_Avaliacao' data-id="@x.Ava_ID"><i class="fas fa-user-edit"></i> Alterar</button>
                        <button class="btn btn-danger custom ExcluirAvaliacao" data-id="@x.Ava_ID"><i class="fas fa-user-times"></i> Excluir</button>
                    </div>

                </div>
            </div>
        }



    }

    else
    {
        <div class="alert alert-primary">
        <div class="alert-body">
            <h4>Sua empresa ainda não possui nenhuma avaliação...</h4>
        </div>
        </div>
    }
}

        <div class="modal fade" tabindex="-1" role="dialog" id="ModalExcluir">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Excluir Avaliação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="Mensagem"></p>
                        <div align="center">
                            <img src="~/Imagem/833.gif" id="Carregando" style="display:none;" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning custom BtnExcluir" id="Excluir">Sim</button>
                        <button type="button" class="btn btn-danger custom BtnExcluir" data-dismiss="modal" id="BtnNao">Não</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="ModalAlterar">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Alterar Avaliação</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.TextArea("Motivo", null, new { rows = 10, cols = 30, id = "TextBox" })
                        <div align="center">
                            <img src="~/Imagem/833.gif" id="CarregandoAlterar" style="display:none;" />
                        </div>
                        <p id="MensagemAlterar"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning custom BtnAlterar" id="AlterarAvaliacao">Alterar</button>
                        <button type="button" class="btn btn-danger custom BtnAlterar" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>


<hr />

@section Scripts{
    <script>
        $(document).ready(function(){
            var IDAvaliacao;

            $(".ExcluirAvaliacao").click(function () {

                IDAvaliacao = $(this).attr("data-id");
                $("#Mensagem").html("Tem certeza que deseja excluir essa avaliação?");
                $(".BtnExcluir").removeAttr("disabled");
                $("#ModalExcluir").modal('show');
                

            });

            $("#Excluir").click(function () {
                $(".BtnExcluir").attr("disabled", "disabled");
                var URL ="@Url.Action("ExcluirAvaliacao", "Avaliacao")";
                $("#Mensagem").css("display", "none");
                $("#Carregando").css("display", "block");
                $.post(URL, { id: IDAvaliacao }, function (resposta) {
                    $("#Mensagem").css("display", "block");
                    $("#Carregando").css("display", "none");
                    $("#Mensagem").html(resposta);
                    $("#Avaliacao-" + IDAvaliacao).slideUp("1000");
                });
            });

            $(".Alterar").click(function () {
                var Avaliacao = $(this).attr("data-avaliacao");
                IDAvaliacao = $(this).attr("data-id");
                $("#TextBox").val(Avaliacao);

                $("#MensagemAlterar").html("");

                $("#ModalAlterar").modal('show');

                $("#CarregandoAlterar").css("display", "none");

                $(".BtnAlterar").removeAttr("disabled");

            });

            $("#AlterarAvaliacao").click(function () {
                $("#CarregandoAlterar").css("display", "block");
                $(".BtnAlterar").attr("disabled", "disabled");
                var url = "@Url.Action("AlterarAvaliacao","Avaliacao")";
                var Avaliacao = $("#TextBox").val();
                $.post(url, { Avaliacao: Avaliacao, IDAvaliacao: IDAvaliacao }, function (resposta) {
                    $("#CarregandoAlterar").css("display", "none");
                    $("#MensagemAlterar").html(resposta);
                    $("#AvaliacaoFuncionario-" + IDAvaliacao).html("Avaliação: " + Avaliacao);
                    $("#Avaliacao-" + IDAvaliacao).removeAttr("data-avaliacao");
                    $("#Avaliacao-" + IDAvaliacao).attr("data-avaliacao", "Avaliação: " + Avaliacao);
                })
            });

        });
    </script>

    }




