<!DOCTYPE html>
<html lang="pt-br" class="animated bounceInDown">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - RH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Style/css")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/docco.min.css">
    <link href="~/Content/hover.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/socicon/css/styles.css" rel="stylesheet" />
    <link href="~/Content/codemirror.css" rel="stylesheet" />
    <link href="~/Content/codemirror-theme/solarized.css" rel="stylesheet" />


</head>
<body>

    @{
        string[] Data = Session["DataAtual"].ToString().Split('/');
        string Dia = Data[0];
        string Mes = Data[1];
    }

    <!-- menu -->
    <header class=" bounce ">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col-1">
                <a class="navbar-brand" href="~/Empresa/MinhasEmpresas">RH</a>
            </div>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-9  justify-content-start">

                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ">





                        <li class="nav-item">

                            <a class="nav-link" href="#">
                                <div class="col text-center"> <i class="fas fa-list-ol"></i> </div>
                                Parâmetros/Regras
                            </a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="~/Setor/Index">
                                <div class="col text-center">
                                    <i class="fas fa-business-time"></i>
                                </div>
                                Setores
                            </a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="~/Cargo/Index"> <div class="col text-center"><i class="fas fa-sitemap"></i></div>Cargos</a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="~/Beneficio">
                                <div class="col text-center"><i class="fas fa-briefcase-medical"></i> </div>
                                Benefícios
                            </a>
                        </li>


                        <li class="nav-item">

                            <a class="nav-link" href="~/Pessoa/MeusFuncionarios">
                                <div class="col text-center"> <i class="fas fa-user-tie"></i> </div>
                                Funcionários
                            </a>
                        </li>




                        <li class="nav-item">

                            <a class="nav-link" href="~/Avaliacao/Index">
                                <div class="col text-center"> <i class="fas fa-book-reader"></i> </div>
                                Avaliação
                            </a>
                        </li>

                        <li class="nav-item">

                            <a class="nav-link" href="#">
                                <div class="col text-center"> <i class="fas fa-copy"></i> </div>
                                Relatórios
                            </a>
                        </li>

                        <li class="nav-item dropdown   ">


                            <a class="nav-link dropdown-toggle " href="#" id="dataDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                <div class="col text-center"> <i class="fas fa-clock"></i></div>
                                <span id="DataAtualEmpresa">@Session["DataAtual"]</span><span class="sr-only">(current)</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dataDropdown">
                                <form>
                                    <div class="form-group">
                                        <input type="date" id="dataRh" min="@DateTime.Now.Year-01-01" max="@DateTime.Now.Year-12-31" value="@DateTime.Now.Year-@Mes-@Dia" />
                                        <div class="dropdown-divider"></div>
                                        <div class="col-12">
                                            <button type="button" style="background:white;" class=" btn btn-success-custum d-flex align-content-center" id="SelecionarData">Selecionar Data</button>
                                        </div>
                                    </div>
                                </form>



                            </div>

                        </li>








                    </ul>
                </div>

            </div>

            <div class="col-2 ">

                <ul class="nav justify-content-end logout">


                    <li class="nav-item dropdown   ">


                        <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="col text-center"> <i class="fas fa-building "></i></div>
                            @Session["NomeEmpresa"]<span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("EditarEmpresa","Empresa",new { id=Convert.ToInt32(Session["IDEmpresa"])})">Editar Empresa</a>
                            <a class="dropdown-item" href="~/Empresa/MinhasEmpresas">Todas as Empresas</a>
                            @if (Convert.ToBoolean(Session["Avaliativa"]))
                            {
                                <a class="dropdown-item" href="#" id="VisualizarProva">Visualizar Prova</a>
                                <a class="dropdown-item" data-toggle="modal" href="#" data-target="#ModalEntregarProva">Entregar Prova</a>
                            }

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-center" href="@Url.Action("Logout","Login")">Logout</a>

                        </div>

                    </li>

                </ul>

            </div>

        </nav>
    </header>


    <section>
        <div class="container">
            <div class="content">
                @RenderBody()
            </div>

        </div>
    </section>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.ckeditor.com/4.11.3/full-all/ckeditor.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.9/js/fileinput.min.js"></script>
    <script src="~/Scripts/fileInputPT-BR.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/Scripts/codemirror.js"></script>
    <script src="~/Scripts/javascript.js"></script>



</body>
</html>

<div class="modal fade" tabindex="-1" role="dialog" id="ModalEntregarProva">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Entregar Prova</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Tem certeza que deseja entregar sua prova? Você não poderá acessar essa empresa novamente.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success Btns" data-dismiss="modal" id="EntregarProva">Sim</button>
                <button type="button" class="btn btn-danger Btns" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ModalBaixarProva">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Prova</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Sua prova será gerada pelo sistema, por favor aguarde um pouco ela será baixada automáticamente.</h5>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success Btns" href="~/Home/VisualizarProva/" id="GerarProva">Gerar Prova</a>
                <button type="button" class="btn btn-danger Btns" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ModalEntregue">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sua prova foi entregue com sucesso</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="Mensagem"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success Btns" data-dismiss="modal">Sim</button>
                <button type="button" class="btn btn-danger Btns" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ModalMudarData">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tem certeza que deseja alterar a data atual da sua empresa?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="MensagemData">Mudando a data atual da sua empresa você não poderá mais voltar os dias.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success Btns" id="MudarData">Sim</button>
                <button type="button" class="btn btn-danger Btns" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>


<script>

        $(document).ready(function () {
            $("#EntregarProva").click(function () {
                alert("Teste de merda");
                var url = "@Url.Action("EntregarProva","Prova")";
                $.post(url, function (resposta) {
                    $("#ModalEntregarProva").modal('hide');
                    $("#Mensagem").html(resposta);
                    $("#ModalEntregue").modal('show');
                });

            });

            $("#VisualizarProva").click(function () {
                $("#ModalBaixarProva").modal('show');
                $("#GerarProva").removeAttr("disabled");
            });

            $("#GerarProva").click(function () {
                $("#GerarProva").attr("disabled", "disabled");
            });

            $('#ModalEntregue').on('hide', function () {
                window.location.href = '~/Empresa/MinhasEmpresas';
            });

            $("#SelecionarData").click(function () {
                $("#MensagemData").html("Mudando a data atual da sua empresa você não poderá mais voltar os dias.");
                $(".Btns").removeAttr("disabled");
                $("#ModalMudarData").modal('show');
            });

            $("#MudarData").click(function () {
                var DataSelecionada = $("#dataRh").val();
                var url = "@Url.Action("MudarDataEmpresa","Home")";
                $.post(url, { Data: DataSelecionada }, function (resposta) {
                    if (resposta == "1") {
                        var data = DataSelecionada.split('-');
                        var dia = data[2];
                        var mes = data[1];
                        resposta = "A data atual de sua empresa foi alterada com sucesso, lembre-se que não é possível ir para uma data anterior a está.";
                        $("#DataAtualEmpresa").html(dia+"/"+mes);
                    }

                    $("#MensagemData").html(resposta);
                    $(".Btns").attr("disabled", "disabled");
                });
            });

        });

</script>

