@model IEnumerable<RH.Model.Erro>

@{
    ViewBag.Title = "Erros da Prova";
}

<div class="container my-4">

    <div class="card">

        <div class="card-header">
            <h5>@ViewBag.NomeAluno - @ViewBag.MatriculaAluno</h5>
            <h5>@ViewBag.Curso - @ViewBag.Serie</h5>
            <br />
            <h5 class="text-center text-danger">@ViewBag.Nota</h5>
        </div>

        <div class="card-body">

            @foreach(var x in Model)
            {

            }

        </div>

    </div>

</div>


