@model IEnumerable<RH.Model.Erro>

@{
    ViewBag.Title = "Erros da Prova";
    Layout = "~/Views/Shared/LayoutSemMenu.cshtml";
    int Erro = 1;
}

<div class="container my-4">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">@ViewBag.NomeAluno - @ViewBag.MatriculaAluno</h3>
            <h3 class="text-center">@ViewBag.Curso - @ViewBag.Serie</h3>
            <br />
            <h2 class="text-center text-danger">Nota da Prova: @Math.Round(ViewBag.Nota,2)</h2>
            <br />
            <p class="text-danger text-center"><b>Atenção: </b>Caso encontre alguma anomalia na correção de sua prova, por favor entre em contato o mais rápido possível com seu professor.</p>
        </div>
        <div class="card-body">
            @foreach (var x in Model)
            {
                <h5>@Erro º Erro</h5>
                <hr />
                <div class="row">
                    @if (x.Err_RespostaAluno == "Nenhum dos seus benefícios cadastrados se compara ao benefício da prova.")
                    {
                        <div class="col-md-6">
                            <div class="card border-0">

                                <h5>Sua Resposta:</h5>
                                <div class="card-header alert-danger">
                                    @Html.Raw(x.Err_RespostaAluno)
                                    <span class="MeusBeneficios float-right" data-id="@Erro"><i class="fas fa-align-justify"></i></span>
                                </div>

                                <div class="card-body BodyBeneficios alert-danger" id="@Erro" style="display:none;">
                                    <p class="text-center">Meus Benefícios</p>
                                    @foreach(var beneficio in ViewBag.MeusBeneficios)
                                    {
                                        <hr />
                                        <span>Benefício:</span>
                                        <br />
                                        <span>Nome do Benefício: @beneficio.Ben_Nome</span>
                                        <br />
                                        <span>Descrição: @beneficio.Ben_Descricao</span>
                                        <br />
                                        <span>Custo: @beneficio.Ben_Custo</span>
                                        <br />
                                        <span>Data de Cadastro: @beneficio.Ben_DataCadastro</span>
                                        <br />
                                        <br />
                                        <hr />
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    else
                    {
                        <div class="col-md-6">
                            <h5>Sua Resposta:</h5>
                            <div class="alert alert-danger" role="alert">
                                @Html.Raw(x.Err_RespostaAluno)
                            </div>
                        </div>
                    }


                    <div class="col-md-6">
                        <h5>Resposta Certa:</h5>
                        <div class="alert alert-success" role="alert">
                            @Html.Raw(x.Err_RespostaCerta)
                        </div>
                    </div>

                </div>
                <hr />
                <br />
                <br />

                Erro++;

            }
        </div>
    </div>
</div>




@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var posicao = false;

            $(".MeusBeneficios").click(function () {

                var id = $(this).attr("data-id");

                $("#" + id).slideToggle("1000");

            });

        });
    </script>
}




