@model IEnumerable<RH.Model.VW_Notas>

@{
    ViewBag.Title = "Notas da Prova";
    Layout = "~/Views/Shared/_Layout_Professor.cshtml";
}

<div class="container my-4">
    <div class="card">
        <div class="card-header">
            <h3>Notas da prova da turma de @Model.Select(p=>p.Curso).First() - @Model.Select(p=>p.SerieAluno).First()º Ano</h3>
        </div>
        <div class="card-body">
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered text-center">
                    <tr style="background-color: rgb(148,72,72);" class="text-white">
                        <th>
                            Código
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Matrícula
                        </th>
                        <th>
                            Curso
                        </th>
                        <th>
                            Série
                        </th>
                        <th>
                            Status da Prova
                        </th>
                        <th>
                            Nota da Prova
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoProva)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeAluno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MatriculaAluno)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curso)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerieAluno) º Ano
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Entregou)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NotaProva)
                        </td>
                    </tr>
                    }

                </table>
            }

        </div>
    </div>
</div>



