@model IEnumerable<RH.Model.DadoDependente>

@{
                /**/

                ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Pages/css")



<br />
<a class="btn btn-success custom" href="@Url.Action("CadastrarDependente","Dependente",new { IDFuncionario=ViewBag.IDFuncionario})"><span class="fa fa-plus"></span> Cadastrar novo dependente</a>
<br />
<hr />

@if (Model.Count() > 0)
{
    <div class="container my-4">
        <div class="card">
            <div class="card-header">
                <h2>Dependentes do funcionário @ViewBag.NomeFuncionario</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover text-center ">
                    <tr class="custom text-white" style="background-color: rgb(148,72,72);">
                        <th>
                            @Html.DisplayNameFor(model => model.DP_Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DP_Parentesco)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DP_DataCadastro)
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr id="Dependente-@item.DP_ID">
                            <td>
                                @Html.DisplayFor(modelItem => item.DP_Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DP_Parentesco)
                            </td>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.DP_DataCadastro)
                            </td>
                           
                            <td>
                                <a class="btn btn-warning custom" href="@Url.Action("AlterarDependente","Dependente",new { id=item.DP_ID})"><i class="fas fa-user-edit"></i> Alterar</a>
                                <button class="btn btn-danger custom AbrirModal" data-id="@item.DP_ID"><i class="fas fa-user-times"></i> Excluir</button>
                            </td>
                        </tr>
                    }

                </table>
            </div>

        </div>
    </div>
}

else
{
    <div class="alert alert-primary" role="alert">

        <div class="alert-body">
            <h4>Este Funcionário não possui nenhum dependente cadastrado</h4>
        </div>

    </div>
}

<hr />

<div class="back">
    <a href="~/Pessoa/MeusFuncionarios"><i class="fas fa-arrow-left"></i> Voltar</a>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="ModalExcluirDependente">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Dependente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="Mensagem">

                </div>

                <div id="Carregando" align="center" style="display:none;">
                    <img src="~/Imagem/833.gif"/>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success BtnModal" id="ExcluirDependente">Sim</button>
                <button type="button" class="btn btn-danger BtnModal" data-dismiss="modal" id="BtnNao">Não</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{

    <script>
        $(document).ready(function () {

            var IDDependente;

            $(".AbrirModal").click(function () {

                IDDependente = $(this).attr("data-id");
                $("#Mensagem").html("Tem certeza que deseja excluir esse dependente?");
                $("#ModalExcluirDependente").modal('show');
                $(".BtnModal").removeAttr("disabled");
            });

            $("#ExcluirDependente").click(function () {

                var url = "@Url.Action("ExcluirDependente","Dependente")";
                $("#Mensagem").css("display", "none");
                $("#Carregando").css("display", "block");
                $(".BtnModal").attr("disabled","disabled");

                $.post(url, { id: IDDependente }, Output);
            });

            function Output(retorno) {

                $("#Mensagem").css("display", "block");
                $("#Carregando").css("display", "none");
                $("#Mensagem").html(retorno);
                $("#Dependente-" + IDDependente).slideUp('10000');
            }

        });
    </script>

}



