@model RH.Model.Setor

@{
    ViewBag.Title = "Cadastrar Setor";
}

<h2 class="text-center">Cadastrar Setor</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4 class="text-center">Setor</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-row">

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Set_Nome, htmlAttributes: new { @class = "control-label col-md-4" })

            @Html.EditorFor(model => model.Set_Nome, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Digite o Nome do Setor" } })
            @Html.ValidationMessageFor(model => model.Set_Nome, "", new { @class = "text-danger" })

        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Set_Empresa_Emp_ID, htmlAttributes: new { @class = "control-label col-md-4" })

            @Html.DropDownList("Set_Empresa_Emp_ID", null, "Selecione a empresa", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Set_Empresa_Emp_ID, "", new { @class = "text-danger" })

        </div>


        <div class="from-group col-md-12">
            <div class="form-group col-md-6 ">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-outline-secondary" />
                </div>
            </div>
        </div>

    </div>
</div>

    }

    <div class="back">
        <a href="~/Setor/Index"><i class="fas fa-arrow-left"></i> Voltar</a>

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
