@model RH.Model.Setor

@{
    ViewBag.Title = "Cadastrar Setor";
}

@Styles.Render("~/Content/Pages/css")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form">
            <div class="card my-4">
                <div class="card-header">
                    <h1>Cadastrar Setor</h1>
                </div>
                <div class="card-body">

                    <div align="center">
                        @Html.ValidationMessage("Limite", "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Set_Nome, htmlAttributes: new { @class = "control-label col-md-4" })

                        @Html.EditorFor(model => model.Set_Nome, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Digite o Nome do Setor" } })
                        @Html.ValidationMessageFor(model => model.Set_Nome, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group col-md-12">
                        @Html.Label("Setor a qual responde", htmlAttributes: new { @class = "control-label col-md-4" })
                        <select class="form-control" name="SetorRespondente">
                            <option disabled selected>Selecione o setor respondente</option>
                            <option value="0">Este setor responde a si mesmo</option>
                            @foreach (var x in ViewBag.Setores)
                            {
                                <option value="@x.Set_ID">@x.Set_Nome</option>
                            }
                        </select>

                        @Html.ValidationMessageFor(model => model.Set_Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="card-footer">
                    <div class="from-group col-md-12">
                        <div class="form-group col-md-6 ">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-outline-secondary custom" type="submit"><span class="fa fa-plus"></span> Cadastrar Setor</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

}

<div class="back">
    <a href="~/Setor/Index"><i class="fas fa-arrow-left"></i> Voltar</a>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
