@model RH.Model.Cargo

@{
    ViewBag.Title = "AlterarCargo";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Car_ID)

        <div class="form-row">

            <div class="container my-4">
                <div class="card">
                    <div class="card-header">
                        <h1>Alterar Cargo</h1>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Car_Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Car_Nome, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Car_Nome, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Car_Setor_Set_ID, "Setor pertencente", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("Car_Setor_Set_ID", null, "Selecione o setor que o cargo pertence", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Car_Setor_Set_ID, "", new { @class = "text-danger" })
                            </div>
                            <br />
                            <div class="text-center">
                                @Html.LabelFor(model => model.Car_Chefe, "Este cargo ocupa a posição de chefe do setor?", htmlAttributes: new { @class = "control-label text-center" })
                                <br />
                                @if (Model.Car_Chefe)
                                {
                                    <label><input type="radio" value="true" name="ChefeSetor" checked /> Sim</label>
                                    <label><input type="radio" value="false" name="ChefeSetor" /> Não</label>
                                }

                                else
                                {
                                    <label><input type="radio" value="true" name="ChefeSetor" /> Sim</label>
                                    <label><input type="radio" value="false" name="ChefeSetor" checked /> Não</label>
                                }
                                <br />
                                @Html.ValidationMessage("ChefeSetor", "", new { @class = "text-danger" })
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <div class="form-group col-md-6 ">
                                <div class="col-md-offset-2 col-md-10">
                                    <button type="submit" class="btn btn-outline-secondary"><span class="fa fa-plus"></span> Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="back">
                    <a href="~/Cargo/Index"><i class="fas fa-arrow-left"></i> Voltar</a>
                </div>

            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.Car_DataCadastro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Car_DataCadastro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Car_DataCadastro, "", new { @class = "text-danger" })
            </div>
        </div>*@

            @*<div class="form-group">
            @Html.LabelFor(model => model.Car_Situation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Car_Situation)
                    @Html.ValidationMessageFor(model => model.Car_Situation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
