@model IEnumerable<RH.Model.Cargo>

@{
    ViewBag.Title = "Cargos";
}
@Styles.Render("~/Content/Pages/css")


<br />
<p>
    <a class="btn btn-success custom" href="@Url.Action("CadastrarCargo","Cargo")"><i class="fas fa-plus"></i> Cadastrar Novo Cargo</a>
</p>
<h2 class="text-center">Cargos Cadastrados</h2>
<br />
<div class="container">
    @foreach (var x in Model)
    {

        <div class="row">

            <section class="cargos-section col-md-12">
                <div class="card">
                    <div class="card-header"><h4>Nome: <span class='textUser'> @x.Car_Nome</span></h4></div>
                </div>

                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <p><h4>Setor do Cargo: <span class='textUser'>@Html.DisplayFor(modelItem => x.Setor.Set_Nome)</span></h4></p>
                            <p><h4>Data de Cadastro:<span class='textUser'> @x.Car_DataCadastro</span></h4></p>
                            @if (x.Car_Cargo_Car_ID == null)
                            {
                                <p>Este cargo ocupa a posição de chefe do setor</p>
                            }

                            else
                            {
                                foreach (var y in ViewBag.CargosChefe)
                                {
                                    if (x.Car_Cargo_Car_ID == y.Car_ID)
                                    {
                                        <p>Este cargo responde ao cargo de  @y.Car_Nome</p>
                                        break;
                                    }

                                }
                            }
                        </div>
                        <div class="col-md-6 text-white text-right">
                            <a class="btn btn-warning custom" href="@Url.Action("AlterarCargo","Cargo",new { id=x.Car_ID})"><i class="fas fa-pencil-alt"></i> Alterar Cargo</a>
                            <button class="btn btn-danger custom"><i class="fas fa-trash-alt"></i> Excluir Cargo</button>
                        </div>
                    </div>

                </div>

            </section>

        </div>


    }
</div>

