@model IEnumerable<RH.Model.Cargo>

@{
    ViewBag.Title = "Cargos";
}


<br />
<p>
    <a class="btn btn-success" href="@Url.Action("CadastrarCargo","Cargo")">Cadastrar Novo Cargo</a>
</p>
<h2>Cargos Cadastrados</h2>
<br />

@foreach (var x in Model)
{
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">Nome: @x.Car_Nome</div>
                </div>

                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <p>Setor do Cargo: @Html.DisplayFor(modelItem => x.Setor.Set_Nome)</p>
                            <p>Data de Cadastro: @x.Car_DataCadastro</p>
                            @if (x.Car_Cargo_Car_ID == x.Car_ID)
                            {
                                <p>Este cargo ocupa a posição de chefe do setor</p>
                            }

                            else
                            {
                                foreach (var y in ViewBag.CargosChefe)
                                {
                                    if (x.Car_Cargo_Car_ID == y.Car_ID)
                                    {
                                        <p>Este cargo responde ao cargo de @y.Car_Nome</p>
                                        break;
                                    }

                                }
                            }
                        </div>
                        <div class="col-md-6 text-white">
                            <a class="btn btn-warning" href="@Url.Action("AlterarCargo","Cargo",new { id=x.Car_ID})">Alterar Cargo</a>
                            <button class="btn btn-danger">Excluir Cargo</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
}
