@model IEnumerable<RH.Model.Cargo>

@{
    ViewBag.Title = "Cargos";
}


<br />
<p>
    <a class="btn btn-success" href="@Url.Action("CadastrarCargo","Cargo")">Cadastrar Novo Cargo</a>
</p>
<h2>Cargos Cadastrados</h2>
<br />

@foreach (var x in Model)
{
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">@x.Car_Nome</div>
                </div>

                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <p>@Html.DisplayFor(modelItem => x.Setor.Set_Nome)</p>
                            <p>@x.Car_DataCadastro</p>
                            @if (x.Car_Cargo_Car_ID == null)
                            {
                                <p>Este cargo ocupa a posição de chefe do setor</p>
                            }

                            else
                            {
                                <p>@Html.DisplayFor(modelItem => x.Setor.Set_Nome)</p>
                            }
                        </div>
                        <div class="col-md-6 text-white">
                            <a class="btn btn-warning" href="@Url.Action("AlterarCargo","Cargo",new { id=x.Car_ID})">Alterar Cargo</a>
                            <button class="btn btn-danger">Excluir Cargo</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
}
