@model PagedList.IPagedList<RH.Model.Cargo>

@{
    /**/

    ViewBag.Title = "Meus Cargos";
}
@Styles.Render("~/Content/Pages/css")
@using PagedList.Mvc


<br />
<p>
    <a class="btn btn-success custom" href="@Url.Action("CadastrarCargo","Cargo")"><i class="fas fa-plus"></i> Cadastrar Novo Cargo</a>
</p>



@using (Html.BeginForm("Index", "Cargo", FormMethod.Get))
{
    <div class="input-group col-md-4 float-right">

        @if (!string.IsNullOrEmpty(ViewBag.Pesquisado))
        {
            <input type="text" class="form-control" name="Pesquisa" value="@ViewBag.Pesquisado" placeholder="Pesquisar cargos">
        }

        else
        {
            <input type="text" class="form-control" name="Pesquisa" placeholder="Pesquisar cargos">
        }

        <div class="input-group-append">
            <button class="btn btn-success custom" type="submit"><span class="fa fa-search"></span></button>
        </div>
    </div>
}

<br />
<br />

<h2 class="text-center">Cargos Cadastrados</h2>

<hr />
@if (ViewBag.Pesquisado != null && Model.Count() == 0)
{
    <div class="alert alert-primary">
        <div class="alert-body">
            <h4>Não foi encontrado nenhum resultado referente a pesquisa '@ViewBag.Pesquisado', verifique o que foi digitado e tente novamente.</h4>
        </div>
    </div>
}

else
{
    if (Model.Count() > 0)
    {
    <div class="container">
        @foreach (var x in Model)
        {

            <div class="row">
                <div class="col-md-12">

                    <div class="card" id="Cargo-@x.Car_ID">
                        <div class="card-header"><h4>Nome:<span class='textUser'> @x.Car_Nome</span></h4></div>
                        <div class="card-body bg-light">
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <p><h4>Setor do Cargo: <span class='textUser'>@Html.DisplayFor(modelItem => x.Setor.Set_Nome)</span></h4></p>
                                    <p><h4>Data de Cadastro:<span class='textUser'> @x.Car_DataCadastro</span></h4></p>
                                    <p>
                                        <h4>
                                            @if (x.Car_Chefe)
                                            {
                                                <span>Chefe do setor</span>
                                            }

                                            else
                                            {
                                                <span>Funcionário</span>
                                            }
                                        </h4>
                                    </p>
                                </div>
                                <div class="col-md-6 text-white text-right">
                                    <a class="btn btn-warning custom" href="@Url.Action("AlterarCargo","Cargo",new { id=x.Car_ID})"><i class="fas fa-pencil-alt"></i> Alterar Cargo</a>
                                    <button class="btn btn-danger custom AbrirModal" data-id="@x.Car_ID"><i class="fas fa-trash-alt"></i> Excluir Cargo</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br />


        }
        <nav aria-label="Page navigation example " class="paginacao">
            <ul class="pagination">
                <li class="page-item">
                    @Html.PagedListPager(Model, page => Url.Action("index", new { pagina = page }))

                </li>
            </ul>
        </nav>

    </div>
    }

    else
    {
        <div class="alert alert-primary">
            <div class="alert-body">
                <h4>Esta empresa ainda não possui nenhum cargo cadastrado...</h4>
            </div>
        </div>
    }
}



<hr />

<div class="modal fade" tabindex="-1" role="dialog" id="ModalExcluir">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Cargo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="Confirmacao"></p>
                <div align="center">
                    <img src="~/Imagem/833.gif" id="Carregando" style="display:none;" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Excluir">Sim</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="BtnNao">Não</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    $(document).ready(function () {

        var IDCargo;
        var IDFuncionario = 0;
        var request = true;

        $(".AbrirModal").click(function () {
            IDCargo = $(this).attr("data-id");
            $("#ModalExcluir").modal('show');
            $("#Excluir").removeAttr("disabled");
            $("#BtnNao").removeAttr("disabled");
            $("#Confirmacao").html("Tem certeza que deseja excluir esse cargo?");
        });

        $("#Excluir").click(function () {
            $("#Confirmacao").css("display", "none");
            $("#Carregando").css("display", "block");
            $(this).attr("disabled", "disabled");
            $("#BtnNao").attr("disabled", "disabled");

            var url = "@Url.Action("ExcluirCargo","Cargo")";

            $.post(url, { id: IDCargo }, RespostaServidor);

        });

        function RespostaServidor(retorno) {
                $("#Confirmacao").html(retorno);
                $("#Confirmacao").css("display", "block");
                $("#Carregando").css("display", "none");

                if (retorno == "O cargo foi excluído com sucesso!") {
                    $("#Cargo-" + IDCargo).slideUp('slow');
                }

            }
    });
    </script>
}

