@model RH.Model.Beneficio

@{
    ViewBag.Title = "CadastrarBeneficio";
}

<style>

    #Descricao{
        resize:none;
    }
    
</style>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="container my-4">
            <div class="card">

                <div class="card-header">
                    <h1>Cadastrar Benefício</h1>
                </div>

                <div class="card-body">
                    <div align="center">
                        @Html.ValidationMessage("Limite", "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ben_Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Ben_Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ben_Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ben_Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Ben_Descricao, new { rows = "6", @class = "form-control", @id = "Descricao" })
                            @Html.ValidationMessageFor(model => model.Ben_Descricao, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Ben_Custo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Ben_Custo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ben_Custo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-outline-secondary"><span class="fa fa-plus"></span> Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    <div class="back">
        <a href="~/Beneficio/Index"><i class="fas fa-arrow-left"></i> Voltar</a>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



