@model IEnumerable<RH.Model.Beneficio>

@{
    ViewBag.Title = "Meus Benefícios";
}

@Styles.Render("~/Content/Pages/css")
@using RH.View.CriptoHelper;


<br />
<a class="btn btn-success custom" href="@Url.Action("CadastrarBeneficio","Beneficio",new { IDFuncionario=ViewBag.IDFuncionario})"><span class="fas fa-plus"></span> Cadastrar Benefício</a>
<br />
<hr />

<div class="container my-4">
    <div class="card">
        <div class="card-header">
            <h2>Benefícios da Empresa @ViewBag.NomeEmpresa</h2>
        </div>

        <div class="card-body">

            @if (Model.Count() > 0)
            {
                <table class="table table-bordered text-center table-hover">
                    <tr class="custom text-white" style="background-color: rgb(148,72,72);">
                        <th>
                            @Html.DisplayNameFor(model => model.Ben_Nome)
                        </th>

                        <th>
                            Custo
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Ben_DataCadastro)
                        </th>

                        <th>
                            Ações
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr id="Beneficio-@item.Ben_ID">
                            <td>
                                @Html.DisplayFor(modelItem => item.Ben_Nome)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Ben_Custo) $
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Ben_DataCadastro)
                            </td>

                            <td>
                                <a class="btn btn-warning custom" href="@Url.Action("AlterarBeneficio","Beneficio",new { id=Criptografia.EncryptQueryString(item.Ben_ID.ToString())})"><i class="fas fa-user-edit"></i> Alterar</a>
                                <button class="btn btn-danger custom AbrirModal" data-id="@item.Ben_ID"><i class="fas fa-user-times"></i> Excluir</button>
                            </td>
                        </tr>
                    }

                </table>
            }

            else
            {
                <div class="alert alert-primary" role="alert">
                    <div class="alert-body">
                        <h4>Esta empresa ainda não possui nenhum benefício cadastrados</h4>
                    </div>
                </div>
            }




        </div>
    </div>
</div>

<hr />
<div class="back">
    <a href="~/Pessoa/MeusFuncionarios"><i class="fas fa-arrow-left"></i> Voltar</a>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="ModalExcluirBeneficio">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Benefício</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="Mensagem">
                </div>
                <div id="Carregando" align="center" style="display:none;">
                    <img src="~/Imagem/833.gif" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success BtnModal" id="ExcluirBeneficio">Sim</button>
                <button type="button" class="btn btn-danger BtnModal" data-dismiss="modal" id="BtnNao">Não</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        $(document).ready(function () {

            var IDBeneficio;

            $(".AbrirModal").click(function () {

                $("#Mensagem").html("Tem certeza que deseja excluir esse benefício?");
                IDBeneficio = $(this).attr("data-id");
                $("#ModalExcluirBeneficio").modal('show');
                $(".BtnModal").removeAttr('disabled');

            });

            $("#ExcluirBeneficio").click(function () {

                $("#Mensagem").css("display", "none");
                $("#Carregando").css("display", "block");
                $(".BtnModal").attr("disabled", "disabled");

                var url = "@Url.Action("ExcluirBeneficio","Beneficio")";
                $.post(url, { id: IDBeneficio }, Output);

            });

            function Output(resposta) {

                $("#Mensagem").css("display", "block").html(resposta);
                $("#Carregando").css("display", "none");

                $("#Beneficio-" + IDBeneficio).slideUp('slow');
            }


        });

    </script>


    }



