@model RH.Model.Empresa

@{
    ViewBag.Title = "EditarEmpresa";
}
<style>
    #info-img{
        display:none;
        color:gray;
    }
    .fa-question-circle {
        color: gray;
    }
</style>

<<<<<<< HEAD
<h2 class="text-center">EditarEmpresa</h2>
=======
<h2 class="text-center">Editar Empresa</h2>
>>>>>>> 2d5ac815289a1f634351c98627f40967a691e32c


@using (Html.BeginForm(Html.BeginForm("EditarEmpresa", "Empresa", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
<<<<<<< HEAD
    <h4 class="text-center">Empresa</h4>
=======
>>>>>>> 2d5ac815289a1f634351c98627f40967a691e32c
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Emp_ID)

    <div class="border-top-0 border-dark col-md-12" align="center">
        <label for="text2" class="control-label">Logo da Empresa @Model.Emp_Nome: <i class="far fa-question-circle"></i>
        <span id="info-img"><br />Clique no Logo para Poder Troca-la</span> 
        </label>
        <br />

        <input id="Imagem" name="Imagem" style="display:none;" type="file" />
        <label for="Imagem"><img class="img-responsive img-fluid rounded-circle mr-2" src="@Url.Action("GetImagem",new { id=Model.Emp_Aluno_Alu_ID})" id="aImagem" style="width:130%;height:220px;" /></label>

    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Emp_Nome, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Emp_Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Emp_Nome, "", new { @class = "text-danger" })
        </div>


        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Emp_Estado, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Emp_Estado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Emp_Estado, "", new { @class = "text-danger" })
        </div>


        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Emp_Cidade, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Emp_Cidade, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Emp_Cidade, "", new { @class = "text-danger" })
        </div>


        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Emp_Endereco, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Emp_Endereco, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Emp_Endereco, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Emp_CNPJ, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Emp_CNPJ, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Emp_CNPJ, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Emp_RegistroEstadual, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Emp_RegistroEstadual, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Emp_RegistroEstadual, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="from-group col-md-12">
        <div class="form-group col-md-6 ">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-outline-danger" href="~/Empresa/MinhasEmpresas">Cancelar</a>
                <input type="submit" value="Alterar" class="btn btn-outline-secondary" />
            </div>
        </div>
    </div>
    <div class="back">
        <a href="~/Empresa/MinhasEmpresas"><i class="fas fa-arrow-left"></i> Voltar</a>

    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        document.querySelector(".fa-question-circle").addEventListener("click", () => {
            var a = (document.getElementById("info-img").style.display);
            if (a=="none") {
                document.getElementById("info-img").style.display = "inline";
            } else {
                document.getElementById("info-img").style.display = "none";
            }

        });       
    </script>

    <script>
        $(document).ready(function () {
            $("#Imagem").change(function (e) {
                for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                    var file = e.originalEvent.srcElement.files[i];

                    var reader = new FileReader();
                    reader.onloadend = function () {
                        $("#aImagem").attr("src", reader.result);
                    }
                    reader.readAsDataURL(file);
                }
            });

            $("#aImagem").mouseover(function () {
                $(this).css("cursor", "pointer");
                $(this).css("width", "150%");
                $(this).css("heigth", "240px");
            });

        });
    </script>
}
