

@model PagedList.IPagedList<RH.Model.Empresa>
@using PagedList.Mvc
@using RH.View.CriptoHelper;


@{
    Layout = "~/Views/Shared/Layout_Empresa.cshtml";
}

@{
    ViewBag.Title = "Minhas Empresas";

    bool Possui=false;
    bool PossuiNota = false;

    if(ViewBag.DataTermino!=null)
    {
        Possui = true;
    }

    if(ViewBag.Nota!=null)
    {
        PossuiNota = true;
    }
}



<h2 class="text-center titulo-Lista">Minhas Empresas</h2>
<div class="col-md-2 text-center cria-empresa "><a href="~/Empresa/CadastrarEmpresa"><i class="fas fa-plus"></i> Criar Empresa</a> </div>

<div class="logout-emp">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("Logout","Login")">Logout</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="container-fluid">





        @foreach (var item in Model)
        {
            <div class="col-md-2  box">
                <img src="@Url.Action("GetImagem", new { id = item.Emp_ID })">
                <div class="abrir">
                    <a class="link" href="@Url.Action("Index","Home",new { id= Criptografia.EncryptQueryString(item.Emp_ID.ToString()),nomeEmpresa=Criptografia.EncryptQueryString(item.Emp_Nome)})">
                        <div class="Titulo1 text-center"> @Html.DisplayFor(modelItem => item.Emp_Nome) </div>

                        Entrar
                    </a>
                </div>
            </div>


        }

        <nav aria-label="Page navigation example " class="paginacao">
            <ul class="pagination">
                <li class="page-item">
                    @Html.PagedListPager(Model, page => Url.Action("MinhasEmpresas", new { pagina = page }))

                </li>
            </ul>
        </nav>



    </div>

    <!-- Extra large modal -->

    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" id="ModalAviso" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Aviso</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="text-danger text-center">ATENÇÃO</h3>
                    <h4>Você possui uma prova pendente, que será encerrada dia @ViewBag.DataTermino, caso ainda não tenha começado a realizá-la siga as instruções abaixo, caso contrário apenas ignore este aviso.</h4>
                    <h4>Instruções para realização da prova:</h4>
                    <ul>
                        <li>Cadastre uma nova empresa, e marque SIM na opção "Empresa Avaliativa". (Conforme a imagem abaixo)</li>
                    </ul>
                    <div align="center">
                        <img src="~/Imagem/Capturar.png" style="width:80%; height:80%;" />
                    </div>

                    <ul>
                        <li>Após o cadastro da sua empresa avaliativa, na tela de "Minhas Empresas" entre em sua empresa que acabou de cadastrar.</li>
                        <li>Quando entrar em sua Empresa Avaliativa na página inicial você poderá visualizar sua prova clicando em "Visualizar Prova".</li>
                    </ul>
                    <div align="center">
                        <img src="~/Imagem/VisualizarProva.jpg" style="width:80%; height:80%;" />
                    </div>
                    <ul>
                        <li>Você deverá fazer os mesmos cadastrados do pdf em sua Empresa Avaliativa.</li>
                        <li>Sua prova será corrigida seguindo o conceito de comparação de seus cadastros com o seu pdf, portanto seus cadastros devem ser <strong>IGUAIS</strong> ao do pdf.</li>
                        <li>Tenha em mente que o principal aspecto de correção dos seus cadastrados é o <b>DIA</b> do cadastro.</li>
                        <li>Os cadastros devem ser feitos nas datas corretas de acordo com o pdf, podendo alterar seus dados em dias diferentes, mas os <strong>Cadastros</strong> devem ser feitos nos dias corretos.</li>
                        <li>As imagens dos funcionários não serão levadas em consideração, portanto as imagens serão de escolha do aluno.</li>
                        <li>Em sua empresa avaliativa você terá somente o número de cadastros iguais aos requeridos na prova.<br />Limite de Cadastro de Setores=5<br />Limite de Cadastro de Cargos=5<br />Limite de Cadastro de Funcionários=5<br />Limite de Cadastro de Dependentes=5<br />Limite de Cadastro de Dados Bancários=5<br />Limite de Cadastro de Benefícios=5<br />Limite de Cadastro dos Benefícios dos Funcionários=10<br />Limite de Cadastros de Avaliações de Funcionários=4<br />Limite de Demissões=3</li>

                        <li>Fique atento a data de termino de sua prova (@ViewBag.DataTermino), ao fim de seus cadastros clique em "Entregar Prova".</li>

                    </ul>

                    <div align="center">
                        <img src="~/Imagem/EntregarProva.jpg" style="width:80%; height:80%;" />
                    </div>

                    <ul>
                        <li>Após o vencimento da data de sua prova ao entrar novamente na plataforma você poderá ver sua nota e seus erros. A empresa utilizada para realização da prova será excluída por questões de segurança.</li>
                    </ul>
                    <h4 class="text-center">Boa Prova - Associação Educacional Dom Bosco @DateTime.Now.Year</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade " tabindex="-1" role="dialog" id="ModalNota">
        <div class="modal-dialog modal-demitir" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title">Nota da Prova</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p>Olá @ViewBag.NomeAluno, sua prova foi entregue no dia @ViewBag.DataEntrega, para poder visualizar seu erros clique no botão abaixo "Visualizar Erros".</p>
                    <h3 class="text-center">Nota Obtida: <span class="text-danger">@ViewBag.Nota</span></h3>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger custom" href="@Url.Action("Erros","Prova",new { IDProva=ViewBag.IDProva})">Visualizar Erros</a>
                </div>
            </div>
        </div>
    </div>

    @*<div class="modal fade modal-lg" tabindex="-1" role="dialog" id="ModalAviso">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Aviso</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-danger text-center">ATENÇÃO</h3>
                        <h4>Você possui uma prova pendente, que será encerrada dia @ViewBag.DataTermino, caso ainda não tenha começado a realizá-la siga as instruções abaixo, caso contrário apenas ignore este aviso.</h4>
                        <h4>Instruções para realização da prova:</h4>
                        <ul>
                            <li>Cadastre uma nova empresa, e marque SIM na opção "Empresa Avaliativa".</li>
                            <li>Após o cadastro da sua empresa avaliativa, na tela se "Minhas Empresas" entre em sua empresa que acabou de cadastrar.</li>
                            <li>Quando entrar em sua Empresa Avaliativa na página inicial você poderá visualizar sua prova clicando em visualizar sua prova.</li>
                            <li>Você deverá fazer os mesmos cadastrados do pdf em sua Empresa Avaliativa.</li>
                            <li>Sua prova será corrigida seguindo o conceito de comparação de seus cadastros com o seu pdf, portanto seus cadastros devem ser <strong>IGUAIS</strong> ao do pdf.</li>
                            <li>Os cadastros devem ser feitos nas datas corretas de acordo com o pdf, podendo alterar seus dados em dias diferentes, mas os <strong>Cadastros</strong> devem ser feitos nos dias corretos.</li>
                            <li>As imagens dos funcionários não serão levadas em consideração, portanto as imagens serão de escolha do aluno.</li>
                            <li>Em sua empresa avaliativa você terá somente o número de cadastros iguais aos requeridos na prova.</li>
                            <li>Fique atento a data de termino de sua prova (@ViewBag.DataTermino), ao fim de seus cadastros clique em "Entregar Prova".</li>
                            <li>Após o vencimento da data de sua prova ao entrar novamente na plataforma você poderá ver sua nota e seus erros.</li>
                        </ul>
                        <h4>Boa Prova - Associação Educacional Dom Bosco @DateTime.Now.Year</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>*@

    @section Scripts{

        @if (Possui)
        {
            <script>

                $("#ModalAviso").modal('show');

            </script>
        }
        @if (PossuiNota)
        {
            <script>

                $("#ModalNota").modal('show');

            </script>
        }

    }

